.wrapper {
    padding: var(--space-6) 0;
    text-align: center;
}

.wrapper > * + * {
    margin-top: var(--space-4);
}

.wrapper button[type="submit"] {
    width: 100%;
}

.iconWrapper > svg {
    margin: auto;
}

.otpInputWrapper {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer > button {
    padding: 0;
    line-height: var(--leading-none);
}