.container {
    padding: var(--space-3);
    border: var(--border-1) solid var(--color-border);
}

.accordion {
    max-height: 300px;
    overflow-y: auto;
    padding-right: var(--space-2-5);
}

.accordion::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.accordion:hover::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
}