.main {
	padding: var(--space-0) var(--space-1-5);
	flex: 1;
}

.layout {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 var(--space-1-5);
}

.bottomNavWrapper {
}

@media screen and (max-width: 767px) {
	.main {
		padding-bottom: calc(var(--bottom-nav-height) + env(safe-area-inset-bottom));
	}
}

@media screen and (min-width: 768px) {
	.bottomNavWrapper {
		display: none;
	}
}
