.heartButton {
    background-color: transparent;
}

.heartButton svg {
    transition: fill 0.2s ease, stroke 0.2s ease;
    fill: transparent;
    stroke: var(--color-destructive);
}

.heartButton[data-active="true"] svg {
    fill: var(--color-destructive);
    stroke: var(--color-destructive);
}

.heartButton[data-active="true"]:hover svg {
    fill: var(--color-destructive-hover);
    stroke: var(--color-destructive-hover);
}

.heartButton:not([data-active="true"]):hover > svg {
    fill: var(--color-destructive-muted);
    stroke: var(--color-destructive);
}